<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="taskbar">
        <div class="menu">
            <a href="/home" style="background:#555;">Home</a>
            <a href="/chart">Chart</a>
            <a href="/setting">Setting</a>
            <a href="/about">About</a>
            <a href="/admin">Admin</a>
        </div>
    </div>

    <header>
        <h1>Smart Gardent</h1>
    </header>

    <main>
        <div class="pannel" style="width: 40%;">
            <h2>Controller</h2>
            
            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="toggle" onchange="toggleSwitch()">
                    <span class="slider"></span>
                </label>
            
                <div class="switch-text">
                    <span id="status" class="off-text">MANUAL</span>
                </div>
            </div>

            <table style="width: 100%; padding: 5%">
                <thead style="color: rgb(255, 0, 242);">
                    <tr>
                        <th>Actuatal</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>LED</th>
                        <th id="s_led">OFF</th>
                    </tr>
                    <tr>
                        <th>FAN</th>
                        <th id="s_fan">OFF</th>
                    </tr>
                    <tr>
                        <th>PUMP</th>
                        <th id="s_pump">OFF</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pannel" style="width: 60%;">
            <h2>View</h2>

            <table style="width: 100%; padding: 5%">
                <thead style="color: rgb(255, 0, 242);">
                    <tr>
                        <th>Properties</th>
                        <th>Value</th>
                        <th>Setting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Nhiệt độ</th>
                        <th id="d_temp">0</th>
                        <th id="s_temp">0</th>
                    </tr>
                    <tr>
                        <th>Độ ẩm</th>
                        <th id="d_humi">0</th>
                        <th id="s_humi">0</th>
                    </tr>
                    <tr>
                        <th>Độ ẩm đất</th>
                        <th id="d_soil">0</th>
                        <th id="s_soil">0</th>
                    </tr>
                    <tr>
                        <th>CO2</th>
                        <th id="d_co2">0</th>
                        <th id="s_co2">0</th>
                    </tr>
                    <tr>
                        <th>Light</th>
                        <th id="d_light">0</th>
                        <th id="s_light">0</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Trang Web Cơ Bản. Tất cả quyền được bảo vệ.</p>
    </footer>

    <script>
        function toggleSwitch() {
            const statusText = document.getElementById('status');
            url = `api/set_mode?mode=${statusText.textContent}`;
            fetch(url)
            .then(response => response.json())
            .then(data => {
                update_mode(statusText.textContent);
            });
        }

        function update_mode(mode_t) {
            const checkbox = document.getElementById('toggle');
            const statusText = document.getElementById('status');

            if (mode_t == "MANUAL") {
                statusText.textContent = 'AUTO';
                statusText.classList.remove('off-text');
                statusText.classList.add('on-text');
                change_btn_div('s_pump');
                change_btn_div('s_led');
                change_btn_div('s_fan');
            } else {
                statusText.textContent = 'MANUAL';
                statusText.classList.remove('on-text');
                statusText.classList.add('off-text');
                change_div_btn('pump', 's_pump');
                change_div_btn('led', 's_led');
                change_div_btn('fan', 's_fan');
            }
        }

        function set_status_control(object_t, status_t) {
            url = `api/set_status_control?object=${object_t}&status=${status_t}`;
            fetch(url)
            .then(response => response.json())
            .then(data => {

            });
        }

        function change_div_btn(value_t, id_object) {
            let div = document.getElementById(id_object);
            let btn = document.createElement('button');
            btn.textContent = div.textContent;
            btn.id = div.id;
            btn.value = value_t;
            btn.classList.add("btn-status");
            btn.onclick = () => set_status_control(btn.value, btn.textContent);
            update_status_div(btn, btn.textContent);
            div.parentNode.replaceChild(btn, div);
        }

        function change_btn_div(id_object) {
            let btn = document.getElementById(id_object);
            let th = document.createElement('th');
            th.textContent = btn.textContent;
            th.id = btn.id;
            update_status_div(th, th.textContent);

            btn.parentNode.replaceChild(th, btn);
        }
    
        function update_data() {
            fetch('api/latest')
            .then(response => response.json())
            .then(data => {
                let divTemp = document.getElementById('d_temp');
                let divHumi = document.getElementById('d_humi');
                let divSoil = document.getElementById('d_soil');
                let divCo2 = document.getElementById('d_co2');
                let divLight = document.getElementById('d_light');

                divTemp.textContent = data.temp.value;
                divHumi.textContent = data.humi.value;
                divSoil.textContent = data.soil.value;
                divCo2.textContent = data.co2.value;
                divLight.textContent = data.light.value;
            });
        }

        function update_setting() {
            fetch('api/get_setting')
            .then(response => response.json())
            .then(data => {
                let divTemp = document.getElementById('s_temp');
                let divHumi = document.getElementById('s_humi');
                let divSoil = document.getElementById('s_soil');
                let divCo2 = document.getElementById('s_co2');
                let divLight = document.getElementById('s_light');

                divTemp.textContent = data.temp;
                divHumi.textContent = data.humi;
                divSoil.textContent = data.soil;
                divCo2.textContent = data.co2;
                divLight.textContent = data.light;
            });
        }

        function update_control() {
            fetch('api/get_control')
            .then(response => response.json())
            .then(data => {
                // console.log(data);
                let divPump = document.getElementById('s_pump');
                let divFan = document.getElementById('s_fan');
                let divLed = document.getElementById('s_led');
                // update_mode(data.mode);
                update_status_div(divPump, data.pump);
                update_status_div(divFan, data.fan);
                update_status_div(divLed, data.led);
            });
        }

        function update_status_div(div, status_t) {
            // console.log(status_t)
            div.textContent = status_t;
            if (status_t == "ON") {
                div.classList.add("on");
                div.classList.remove("off");
            } else {
                div.classList.add("off");
                div.classList.remove("on");
            }
        }

        setInterval(update_data, 1000);
        setInterval(update_setting, 1000);
        setInterval(update_control, 1000);
    </script>
</body>
</html>
